    <aside class="menu is-one-third">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a href="/panel/">Strona główna</a></li>
            <li><a href="produkty">Produkty</a></li>
        </ul>
        <p class="menu-label">
            Ustawienia
        </p>
        <ul class="menu-list">
            <li><a href="profile-wysylek">Profile wysyłek</a></li>
        </ul>
    </aside>

